@import "_variables.scss";

* {
  font-family: $font-primary;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 5%;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  .container-logo {
    display: flex;
    background-color: white;
    width: 12%;
    height: 100%;
    color: black;
    border-radius: 0px 50px 50px 0px;
    align-items: center;
    img {
      width: 90px;
      height: 90px;
    }
  }
  .container-search {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .search {
      width: 80%;
      height: 70%;
      font-size: 1.5rem;
      border-radius: 20px;
      padding-left: 1rem;
      outline: none;
      border: none;
    }
    .search-icon {
      width: 30px;
      translate: calc(-32px);
      cursor: pointer;
      &:active {
        transform: scale(1.1);
      }
    }
  }
  .container-user {
    display: flex;
    align-items: center;
    background-color: white;
    width: 12%;
    height: 100%;
    color: black;
    border-radius: 50px 0px 0px 50px;
    align-items: center;
    img {
      width: 50px;
      height: 50px;
    }
    a {
      padding-left: 30px;
      font-size: 2vh;
    }
  }
}

main {
  padding-top: 2.5%;  
  z-index: 10;
  background:linear-gradient(#808080 0%,#808080 15%,  #4d4d4d 33.33%, #191919 66.67%, #000000 100%);
  &.pointer-e {
    &:not(.container-info) {
      pointer-events: none;
    }
  }

  .container-sucu {
    width: 100%;
    height: 5vh;
    background-color: gray;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    font-size: 1.5rem;
    label {
      padding-left: 10%;
    }
    #sucu-droplist {
      border-radius: 10px;
      width: 15vh;
      padding-left: 1rem;
      height: 80%;
      font-size: 1.2rem;
      cursor: pointer;
    }
  }
  .grid-container {
    width: 80%;
    height: 100%;
    display: grid;
    padding-top: 20px;
    padding-left: 10%;
    color: white;
    /* Crear una cuadrícula de 3 columnas */
    grid-auto-rows: 30rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 20px; /* Espacio entre las películas */

    .movie-card {
      background-color: rgb(82, 10, 10);
      border: 1px solid #ccc;
      border-radius: 20px;
      padding: 10px;
      text-align: center; /* Centrar el contenido */
      transition: transform 0.8s;
      cursor: pointer;
      &:hover {
        transform: scale(1.09);
        background-color: rgb(102, 29, 29);
      }
      &:active {
        background-color: rgb(31, 12, 12);
      }

      .movie-image {
        max-width: 100%; /* Ajustar la imagen al ancho del contenedor */
        height: 80%; /* Mantener la proporción de la imagen */
        border-radius: 20px;
      }

      .buy-button {
        background-color: #007bff;
        color: white;
        border: none;
        cursor: pointer;
        margin-top: 10px;
        text-decoration: none;
      }

      .show-times {
        display: none; /* Ocultar los horarios por defecto */
      }
    }
  }
  .container-info {
    visibility: hidden;
    width: 100%;
    height: 95%;
    background-color: rgb(255, 255, 255, 0.8);
    position: fixed;
    top: 5%;
    overflow: hidden;
    display: flex;
    @keyframes scale-up-center {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }
    @keyframes scale-down-center {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(0);
      }
    }
    &.show {
      animation: scale-up-center 0.4s;
      pointer-events: auto;
      transition: opacity 0.5s ease, visibility 0s linear;
      opacity: 1;
    }
    &.close {
      animation: scale-down-center 0.4s;
      transition: opacity 0.5s ease, visibility 0s linear;
      opacity: 1;
    }

    .movie-select {
      max-height: 100%;
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      .movie-selectimg {
        width: 80%;
        height: 80%;
        box-shadow: 15px 15px 20px;
      }
    }
    .info-movie {
      margin-left: 10%;
      width: 50%;
      height: 100%;
      font-size: 1.5rem;
      display: flex;
      flex-direction: column;
      .info-timetables {
        width: 100%;
        height: 10%;
        font-size: 1.5rem;
        padding-top: 3rem;
        #radio-btn {
          cursor: pointer;
          background-color: gray;
        }
      }
      .description-movie{
        padding-bottom: 1rem;
      }
      p{
        margin: 0;
      }
      .container-buttons{
        .btn-buy {
          display: flex;
          width: 150px;
          height: 70px;
          cursor: pointer;
          color: white;
          text-decoration: none;
          background-color: black;
          text-align: center;
          border-radius: 5px;
          
          &:hover {
            background-color: rgb(97, 97, 97);
          }
          &:active{
            
            background-color: rgb(197, 197, 197);
          }
        }
      }
    }
    .btn-close {
      width: 50px;
      height: 50px;
      cursor: pointer;
    }
  }
}

footer{
  width: 100%;
  height: 200px;
  background-color: black;
}
