body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Crear una cuadrícula de 3 columnas */
    gap: 20px; /* Espacio entre las películas */
}

.movie {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;/* Centrar el contenido */
}

.movie-image {
    max-width: 100%;/* Ajustar la imagen al ancho del contenedor */
    height: auto;/* Mantener la proporción de la imagen */
}

.buy-button {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.buy-button:hover {
    background-color: #0056b3;
}

.show-times {
    display: none; /* Ocultar los horarios por defecto */
}